@import "../css/tailwind-globals.css";
@import "../css/design-tokens.css";
@import "../css/global.css";
@import "../css/sections.css";
@import "../css/blog.css";

/* Additional modular styles for Blog Listing Page */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
